<div>
    <main class='principal'>
    	<section class="accueil">
	    	<h1><%=__('GestionMembres') %></h1>
	    	<h2><%=__('TechniqueIntegrationM') %></h2>
	    	<h3><%=__('Remise') %> : <%=__('23') %> <%=__('Mars') %> 2018</h3>
	    	<p><%=__('Projet') %> <%=__('utilisant') %> Node.js, Express <%=__('et') %> MongoDB <%=__('pour') %> <%=__('développer') %> <%=__('une') %> <%=__('applicationWebGMembres') %></p>
    	</section>
    </main>
</div>	

