<%

if(locale == 'fr'){
  locale ='en'
}else{
	locale = 'fr'
}

%>

<ul>
  <li><a href="/"><%=__('Accueil') %></a></li>
  <li><a href="/membres"><%=__('Membres') %></a></li>
  <li><a href="/rechercher"><%=__('Profil') %></a></li>
  <li><a href="/chat"><%=__('Clavardage') %></a></li>
  <li><a class="langues" href="/<%= locale %>"><%=__('En') %></a></li>
</ul>