<!DOCTYPE html>
<html lang="fr">
	<%- include('composants/head') %> 
<body>

	<%- include('composants/entete') %>
	<%- include('composants/menu') %>
	<h1>Rechercher le profil du ou des membres de votre choix</h1>

	<%- include('composants/recherche') %>
	<%- include('composants/footer') %>
</body>
</html>