<!DOCTYPE html>
<html lang="fr">
	<%- include('composants/head') %> 
<body>

	<%- include('composants/entete') %>
	<%- include('composants/menu') %>
 	<%- include('composants/socket_body') %>
	<%- include('composants/footer') %>
</body>
</html>